
.flex{
  display: flex;
}


.flex-center{
  @include flex-center;
}


.txt-uppercase{
  text-transform: uppercase;
}

.txt-capitalize{
  text-transform: capitalize;
}

.my-b-none {
  background: none;
}

.btn-dark {
  color: #fff;
  background-color: #000;
  border-color: #000;
  outline: #000;
  &:hover{
    color: #fff;
    background-color: $my-green;
    border-color: $my-green;
  }
}
