main {
  margin-top: 100px;
}

#main-welcome {
  .slider {
    .slick-card {
      height: 50px;
      width: 100px;
      img{
        width: 100px;
      }
    }
  }
  a{
    display: block;
  }
  #categories {
    margin: 20px 0;
    .container {
      .row {
        .content-category {
          display: flex;
          justify-content: center;
          align-items: center;
          .icon-category {
            width: calc(100%/9);
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
              width: 55%;
            }
            span {
            }
          }
        }
      }
    }
  }
  #restaurants {
    .container {
      .row {
        .restaurants {
          .content-restaurants {

          }
        }
      }
    }
  }

}

//Homepage section categories

//Homepage section restaurants

#main_checkout1{
  display: none;
}

#main_checkout{
  .container {
    max-width: 960px;
  }

  .lh-condensed { line-height: 1.25; }
  
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
}
