#main-restaurants-show {
  .jumbo-restaurants-show {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .container {
    .card {
      margin-bottom: 150px;
      .card-body {
        .img-overflow {
          margin-top: -80px;
          //width: fit-content;
          img {
            border: 1px solid #000;
          }
        }
        h1 {
          font-size: 30px;
          font-weight: 700;
          color: #262626;
        }
        .container-icon {
          i {
            opacity: 0.7;
            border: none;
            font-size: 27px;
            transition: 0.2s;
            &.fas.fa-edit {
              color:  $my-green;
            }
            &:hover {
              opacity: 1;
            }
          }
          form input.trash-icon {
            color: #f00;
            opacity: 0.7;
            border: none;
            font-size: 27px;
            transition: 0.2s;
            &:hover {
              opacity: 1;
            }
          }

        }

      }
    }
  }

}
