#main_checkout{
  .container {
    max-width: 960px;
  }

  .lh-condensed { line-height: 1.25; }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .wheel{
    @keyframes ex10 {
      0% {transform: rotate(0deg)}
      100% {transform: rotate(-360deg)}
    }

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;

    .ex-10-icon{
      animation-name: ex10;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      font-size: 20vw;
      color: white;
      opacity: 0.5;
      // transform: translate(-50%,-50%);
      // -ms-transform: translate(-50%,-50%);

    }

  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
}
