#main_success{
  // background-color: #F5F0E5;
  .img-msg{
    border: 3px solid $my-green;
    i{
      font-size: 6vw;
      color: $my-green;
    }

    // position: relative;
    img{
      border-radius: 50%;
      width: 50%;
    }
    .msg{
      // margin-top: 10rem;
      // position: absolute;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);

      h1{
        font-size: 6vw;
        color: #000;
        text-align: center;
      }
      a{
        text-align: center;
      }
    }
  }
}
