#main_security{
  img{
    width: 50%;
    // margin-top: 10rem;
  }
  .msg{
    // margin-top: 10rem;
  
    h1{
      font-size: 6vw;
      color: #fff;
      text-align: center;
      text-shadow:   2px  2px 4px #000;
    }
    a{
      text-align: center;
    }
  }
}
