#main_menu{
  .jumbo{
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .container-restaurant {
    .row {
      margin: 0;
    }
    .card  {
      margin-top: -70px;
      border-radius: 0;
      font-size: 16px;
      margin-bottom: 150px;
      .card-body {
        .img-overflow {
          margin-top: -80px;
          img {
            border: 1px solid #000;
          }
        }
        h1 {
          font-size: 30px;
          font-weight: 700;
          color: #262626;
        }
        .container-icon {
          i {
            opacity: 0.7;
            border: none;
            font-size: 27px;
            transition: 0.2s;
            &.fas.fa-edit {
              color:  $my-green;
            }
            &:hover {
              opacity: 1;
            }
          }
          form input.trash-icon {
            color: #f00;
            opacity: 0.7;
            border: none;
            font-size: 27px;
            transition: 0.2s;
            &:hover {
              opacity: 1;
            }
          }

        }

      }


    }
  }
  #dishes{
    margin-top: -10rem;
    .menu-dish{
      .card{
        border-radius: 0px;
        .text{
          height: 100%;
          overflow-y: auto;
          padding-right: 5px;
          .desc{
            display: none;
          }
        }
        height: 65px;
        &:hover{
          cursor: pointer;
          border: 1px solid #000;
        }
        padding-left: 10px;
        img{
          height: 100%;
        }
      }
    }
  }
  #cart{
  span{
    &.my-badge {
      color: #fff;
      background-color: #000;
    }
  }
    input{
      width: 50px;
      padding-left: 10px;
    }
    div {
      &.btn-order {
        display: flex;
        justify-content: center;
        a {
          &.my-btn {
            text-align: center;
            font-size: 13px;
            color: #fff;
            background: #000;
            padding: 16px 45px;
            text-transform: uppercase;
            cursor: pointer;
            width: fit-content;
            transition: 0.2s;
            border: none;
            border-radius: 0;
            &:hover {
              text-decoration: none;
              //opacity: 0.8;
              background-color: $my-green;
            }
          }
        }
      }
    }
    i {
      &:hover {
        cursor: pointer;
      }
    }
    .my-total-cart {
      background-color: #000;
      color: #fff;
    }

  }
}

@media (min-width: 767px){
  #main_menu{
    .jumbo{
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;
    }
    .container-restaurant {
      .card  {
        margin-top: -120px;
      }
    }
    #dishes{
      margin-top: -10rem;
      .menu-dish{
        .card{
          height: 120px;
          &:hover{
            cursor: pointer;
            border: 1px solid #000;
          }
          .text{
            height: 100%;
            .desc{
              display: block;
            }
          }
          padding-left: 10px;
          img{
            height: 100%;
          }
        }
      }
    }

  }

}
