main {
  margin-top: 100px;
}

#main-welcome {
  .slider {
    .slick-card {
      height: 50px;
      width: 100px;
      img{
        width: 100px;
      }
    }
  }
  a{
    display: block;
  }
}

//Homepage section categories
#categories {
  margin: 20px 0;
  .container {
    .row {
      .content-category {
        display: flex;
        justify-content: center;
        align-items: center;
        .icon-category {
          width: calc(100%/9);
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 55%;
          }
          span {
          }
        }
      }
    }
  }
}

//Homepage section restaurants
#restaurants {
  .container {
    .row {
      .restaurants {
        .content-restaurants {

        }
      }
    }
  }
}
