#main-restaurants-create {
  font-size: 16px;
  padding-top: 100px;
  .container {
    h3 {
      font-size: 30px;
      font-weight: 700;
      color: #262626;
    }
    form {
      padding-top: 30px;
      .form-group {
        .form-control {
          background-color: $body-bg!important;
          border-radius: 0;
          font-size: 16px!important;
          height: 48px!important;
          line-height: 24px!important;
          color: #262626!important;
          border: 1px solid #E0E0E0!important;
          &:focus {
            border-color: #262626!important;
            box-shadow: none;
          }
        }
      }
      .my-btn-create {
        color: #fff;
        width: 200px;
        background-color: $my-green;
        border-color: $my-green;
        height: 48px;
        font-size: 16px;
        border-style: none;
        transition: 0.2s;
        &:hover {
          opacity: 0.7;
        }
      }
    }

  }
}
